absl-py==1.4.0
aiohttp==3.8.5
aiosignal==1.3.1
arrow==1.2.3
astunparse==1.6.3
async-timeout==4.0.3
atomsci-ampl @ file:///usr/WS2/holger/AMPL/dist/atomsci_ampl-1.5.1-py3-none-any.whl
attrs==23.1.0
bravado==11.0.3
bravado-core==6.1.0
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
cloudpickle==2.2.1
cmake==3.25.0
contourpy==1.1.0
cycler==0.11.0
Cython==0.29.24
deepchem @ file:///usr/WS2/holger/deepchem/dist/deepchem-2.7.2.dev20230814131648-py3-none-any.whl
dgl @ file:///usr/WS2/holger/dgl/python/dist/dgl-1.2-cp39-cp39-linux_x86_64.whl
dgllife==0.3.2
exceptiongroup==1.1.2
filelock==3.9.0
flatbuffers==23.5.26
fonttools==4.42.0
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2023.6.0
future==0.18.3
gast==0.4.0
google-auth==2.22.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.57.0
h5py==3.9.0
huggingface-hub==0.16.4
hyperopt==0.2.7
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.0.1
iniconfig==2.0.0
isoduration==20.11.0
Jinja2==3.1.2
joblib==1.3.1
jsonpointer==2.4
jsonref==1.1.0
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
keras==2.11.0
kiwisolver==1.4.4
libclang==16.0.6
lightning-utilities==0.9.0
lit==15.0.7
Markdown==3.4.4
MarkupSafe==2.1.2
matplotlib==3.7.2
MolVS==0.1.1
monotonic==1.6
mordred==1.2.0
mpmath==1.2.1
msgpack==1.0.5
multidict==6.0.4
networkx==2.8.8
numpy==1.25.2
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==23.1
pandas==1.3.5
Pillow==9.3.0
pluggy==1.2.0
protobuf==3.19.6
psutil==5.9.5
py4j==0.10.9.7
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyparsing==3.0.9
pytest==7.4.0
python-dateutil==2.8.2
pytorch-lightning==2.0.6
pytorch-triton-rocm @ https://download.pytorch.org/whl/nightly/pytorch_triton_rocm-2.1.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
pytz==2023.3
PyYAML==6.0.1
rdkit==2023.3.2
referencing==0.30.2
regex==2023.8.8
requests==2.31.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3987==1.3.8
rpds-py==0.9.2
rsa==4.9
safetensors==0.3.2
scikit-learn==1.3.0
scipy==1.11.1
seaborn==0.12.2
simplejson==3.19.1
six==1.16.0
swagger-spec-validator==3.0.3
sympy==1.11.1
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.33.0
tensorflow-rocm==2.11.0.540
termcolor==2.3.0
threadpoolctl==3.2.0
tokenizers==0.13.3
tomli==2.0.1
torch @ https://download.pytorch.org/whl/nightly/rocm5.5/torch-2.1.0.dev20230807%2Brocm5.5-cp39-cp39-linux_x86_64.whl
torch-geometric==2.3.1
torchaudio @ https://download.pytorch.org/whl/nightly/rocm5.5/torchaudio-2.1.0.dev20230807%2Brocm5.5-cp39-cp39-linux_x86_64.whl
torchdata @ https://download.pytorch.org/whl/nightly/torchdata-0.7.0.dev20230807-py3-none-any.whl
torchmetrics==1.0.3
torchvision @ https://download.pytorch.org/whl/nightly/rocm5.5/torchvision-0.16.0.dev20230807%2Brocm5.5-cp39-cp39-linux_x86_64.whl
tqdm==4.66.1
transformers==4.31.0
typing_extensions==4.4.0
tzdata==2023.3
umap==0.1.1
uri-template==1.3.0
urllib3==2.0.4
webcolors==1.13
Werkzeug==2.3.7
wrapt==1.15.0
xgboost==1.7.6
yarl==1.9.2
zipp==3.16.2
